GRAPHQL_DEBUG=true
APP_SECRET="4No%7RUt~J#gD|WS!g!b1!!f9B]#2UQRx<;DaLx%=Y#xF9Lm<$N=OC;(a#@9+}ve"
POSTGRES_GM_DB=uplifty
# For local
# On MacOS, there may be no password, so use the following:
# DATABASE_URL=postgresql://postgress@localhost/uplifty?sslmode=disable
DATABASE_URL=postgresql://postgres:postgres@localhost/uplifty?sslmode=disable
PORT=8000
